<div class="page">
    <h1 class="page__title">Registro de Notas</h1>
    <h2><b>Aula: </b>{{grade.nombre || ''}}</h2>
    
    <div class="page__cards">
        <div class="header">
            <div class="header__item" *ngFor="let item of headers">
                {{item}}
            </div>
        </div>
        <div class="card" *ngFor="let item of studentList; let i = index;">
            {{i + 1}} {{item.nombre}}

            <mat-form-field class="example-full-width">
                <input matInput placeholder="" >
            </mat-form-field>
        </div>
    </div>

    <div class="page__buttons">
        <button mat-raised-button>
            Guardar Registro
        </button>
    </div>
</div>